.screen1-left,
.screen3-left,
.screen5-left,
.screen7-left,
.screen11-left {
	animation-name: translate-to-right;
	animation-duration: 5s;
}

.screen2-right,
.screen4-right,
.screen6-right,
.screen8-right {
	animation-name: translate-to-left;
	animation-duration: 5s;
}

.screen1-right,
.screen2-left,
.screen3-right,
.screen4-left,
.screen5-right,
.screen6-left,
.screen7-right,
.screen8-left,
.screen11-right {
	animation-name: scale;
	animation-duration: 5s;
}

@keyframes translate-to-right {
	0% { transform: translateX(-135px); }
	100% { transform: translateX(0px); }
}

@keyframes translate-to-left {
	0% { transform: translateX(135px); }
	100% { transform: translateX(0px); }
}

@keyframes scale {
	0% { opacity: 0; }
	100% { opacity: 1; }
}