.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 60px;
    background-color: #fad900;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.footer p {
    margin: 0;
    padding: 20px 0px;
    text-align: center;
    font-family: "Helvetica Neue", "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 11px;
    color: black;
}

.footer a {
    color: black;
}